<component name="libraryTable">
  <library name="Spring5BaseJar">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.3.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.3.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.3.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>